@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(253, 224, 71, 0.6);
  border-radius: 999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(253, 224, 71, 1);
}
/* Add to your global CSS */
@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
